*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
  margin:0;
  background-color: #1d1d1d;
  background-image: url("Pilumnusbp.png");
  background-repeat: no-repeat;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-content img{
    max-width: 100%;
    position: relative;
}

.text{
    text-align:center;
    position:absolute;
    bottom:24%;
    left:21%;
    transform: translate(-5%, -3%);
    border:5px solid #ac752f;
    padding:80px 140px ;
}

.text h1 {
    color:#fff;
    font-family:'Raleway', sans-serif;
    font-size: 10rem;
    font-weight: 700;
    margin: 0;
}

.text h2 {
    color:#fff;
    font-family:'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.text hr{
    background-color: #fff;
    width: 100px;
    height:3px;
    border:none;
}


.text h3{
    color:#ac752f;
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.info {
    margin-top: 80px;
    background-color: #373737;
    box-shadow:0px 1px 80px rgba(0, 0, 0, 0.80);
    width:1300px;
    max-height:558px;
    display:flex;
    flex-flow:column wrap;
    padding-left:70px;
}

.info h2{
    color:#ad7835;
    font-family:'Raleway', sans-serif;
    font-size: 3.75rem;
    font-weight:400;
    text-align:left;
    margin: 0;
    padding-top:61px;
}

.info hr{
    background-color:#ad7835;
    height:3px;
    width:90px;
    border: none;
    margin: 0;
}

.info p {
    margin:0;
    color:#fff;
    padding-top:45px;
    width:485px;
}

.read-more-state {
    display: none;
}
  
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
  
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
  
.read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
}
  
.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
}
  
.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
    color: #ad7835;
    font-weight:700;
    font-size:1rem;
    border: 1px solid #6b4922;
    width:180px;
    height:57px;
    text-transform: uppercase;
    text-align: center;
    padding-top:15px;
    margin:0;
}

.photo img {
    max-width:588px;
    position:relative;
    bottom:50px;
    box-shadow:0px 1px 80px rgba(0, 0, 0, 0.80);  
}

.work{
    margin:236px 0 90px;
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.work h2{
    color:#ad7835;
    font-family:'Raleway', sans-serif;
    font-size: 3.75rem;
    font-weight:400;
    text-align:center;
    margin: 0;
    padding-bottom: 140px;
}

.work hr{
    background-color:#ad7835;
    height:3px;
    width:90px;
    border: none;
    margin: 0;
}

.images{
    max-width:1300px;
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.resume img, .resume-2 img{
    box-shadow: -30px -40px #343434;
    margin-left:32px;
    max-width:370px;
}

.resume-2{
    padding:86px;
}

.short h3 {
    color:#ad7835;
    max-width:370px;
    border-bottom:1px solid #ad7835;
    padding-bottom:20px;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size:1.25rem;
}

.short p {
    max-width:370px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1rem;
    margin-bottom: 0;
}

.short .read-more {
    display:none;
}

.short .read-more-w{
    margin:0;
}
.short .read-more-s{
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    margin: 0;
}

.short .read-more:checked ~ .read-more-w .read-more-s {
    opacity: 1;
    font-size: inherit;
}
.short .read-more ~ .read-more-t:before {
    content: 'Read more >';
}
.short .read-more:checked ~ .read-more-t:before {
    content: 'Read less <';
}
.short .read-more-t {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    color: #ad7835;
    font-weight:700;
    font-size:1rem;
    text-transform: uppercase;
    text-align:left;
    margin:0;
}

.gallery-content{
    max-width: 1300px;
}

.imagegallery{
    margin-left:12.5%;
}

.imagegallery h2 {
    color:#ad7835;
    font-family:'Raleway', sans-serif;
    font-size: 3.75rem;
    font-weight:400;
    text-align:left;
    margin: 0;
}

.imagegallery hr{
    background-color:#ad7835;
    height:3px;
    width:90px;
    border:none;
    margin: 0;
}

.pictures {
    max-width: 1300px;
    display: flex;
    flex-direction: column wrap;
    margin-bottom: 245px;
}

.pictures img {
    margin: 10px;
}
.pictures img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.left{
 margin-left: 12.5%;
}

/*.one {
    flex: 1 0 40%;
}*/
.left img:first-child {
    padding-left:70px;
}
/*.one img:last-child {
    max-width: 442px;
}*/

/*.two{
    flex: 1 1 60%;
}*/
/*.two img{
    max-width:370px; 
}*/

/*.three {
    flex:1 1 60%;
}*/

/*.three img{
    max-width: 852px;  
}*/

/*.four {
    flex: 0 1 60%;
}*/

/*.four img{
    max-width:370px; 
}*/
.right img:last-child{
    padding-bottom:145px;
}


/*.picture .load-more-btn {
	display: block;
	line-height: 55px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: #ad7835;
    font-weight:700;
    font-size:1rem;
    border: 1px solid #6b4922;
    width:180px;
    height:57px;
    text-transform: uppercase;
    text-align: center;
    }
    */

.contact {
    display: flex;
    align-items: center;
    background-color: #373737;
    box-shadow:0px 1px 80px rgba(0, 0, 0, 0.80);
    max-width:1300px;
    max-height:558px;
    margin-top:90px;
}

.contact img{
    max-width:588px;
    box-shadow:0px 1px 80px rgba(0, 0, 0, 0.80);
    margin: 0 70px 
}

.contact h2{
    color: #ad7835;
    font-size: 3.75rem;
    font-weight:400;
    font-family:'Raleway', sans-serif;
    margin-bottom: 0;
}

.contact hr{
    background-color:#ad7835;
    height:3px;
    width:90px;
    border: none;
    margin-bottom:49px;
   margin-left: 0;
}

.contact  input[type=email], input[type=text], textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.contact input[type=email], .contact input[type=text]{
    width:215px;
    height:45px;
}
.contact input[type=email]{
    margin-left:40px;
}

.contact textarea{
    width:470px;
    margin-top:50px;
}

.contact input[type=submit]{
    background-color:transparent;
    border:1px solid #6b4922;
    width:180px;
    height:57px;
    text-transform: uppercase;
    color: #ad7835;
    font-size: 1rem;
    font-weight: 700;
    font-family:'Raleway', sans-serif;
    cursor:pointer;
    margin:70px 0;
}

.soc {
    margin:242px 0 172px;
}

.soc i{
    width:80px;
    height:80px;
    border: 1px solid #6b4922;
    font-size: 2rem;
    text-align: center;
    color:#ad7835;
    text-align: center;
    padding:22px;
    margin:0 28px;
}

.soc i:hover, .contact input[type=submit]:hover{
    color:#6b4922;
}
